@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Iniciando meu primeiro projeto com ASP.NET CORE MVC.</p>
<p>@ViewData["Aluno"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/caio-novaes-511755103/">linkedin</a>
</address>